<div class="col-sm-2 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                  	<li><h3>Vehicles</h3></li>

                  
                  	<li class="vehicle filter" data-id="all"><a href="#">All<!--<span class="label label-danger pull-right"></span>--></a></li>

                  
                    <li><h3>Status</h3></li>
                  
                    <li class="filter status need_help" data-class="need_help"><a href="#">Need Help</a></li>
                  
                    <li class="filter status critical_target" data-class="critical_target"><a href="#">Critical</a></li>
                  
                    <li class="filter status confirmed_target" data-class="confirmed_target"><a href="#">Confirmed</a></li>
                  
                    <li class="filter status possible_target" data-class="possible_target"><a href="#">Possible Target</a></li>
                  
                    <li class="filter status attended" data-class="attended"><a href="#">Attended</a></li>
                  
                    <li class="filter status closed" data-class="closed"><a href="#">Closed</a></li>
                </ul>
        </div>